{{yield}}
{{#bp-layout direction="row" main="between" classNames="member-list-item-container" click=(action "onItemClick")}}
    {{#bp-layout direction="row" classNames="member-list-item-left"}}
        <img class="head-icon" src={{imgSrc}}/>
        {{#bp-layout direction="col" classNames="member-list-item-mid"}}
            <p>
                {{name}}
                {{#if (eq sex 1)}}
                    {{bp-icon icon="male"}}
                {{else}}
                    {{bp-icon icon="female"}}
                {{/if}}
            </p>
            <p>{{contact}}</p>
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction="row" main="end" cross="center" classNames="member-list-item-right"}}
        <p class="tag">{{jobName}}</p>
    {{/bp-layout}}
{{/bp-layout}}