<table class="table stall-point-table">
    <thead class="table-head">
        <th>课程名称</th>
        <th>完成度/课程时长</th>
        <th>停顿次数</th>
        <th>停顿总时间</th>
        <th>操作</th>
    </thead>
</table>
{{#bp-layout direction='col' classNames='table-area p-2'}}
    <table class="table">
        <tbody class="table-body">
            <tr local-class="title m-2">
                <td>造型想象力养成</td>
                <td>90/90分钟</td>
                <td>
                    {{time-line lineone=true}}
                </td>
                <td>15分钟</td>
                <td {{action 'option'}}>{{bp-icon icon='more'}}</td>
            </tr>
            <tr local-class="title m-2">
                <td>建筑的奇幻世界</td>
                <td>35/45分钟</td>
                <td>{{time-line linetwo=true}}</td>
                <td>10分钟</td>
                <td {{action 'option'}}>{{bp-icon icon='more'}}</td>
            </tr>
            <tr local-class="title m-2">
                <td>榫卯妙妙屋</td>
                <td>54/60分钟</td>
                <td>{{time-line linethree=true}}</td>
                <td>5分钟</td>
                <td {{action 'option'}}>{{bp-icon icon='more'}}</td>
            </tr>
        </tbody>
    </table>
{{/bp-layout}}

{{yield}}
