<table class="table stall-point-table">
    <thead class="table-head">
        <th>课程名称</th>
        <th>完成时长/标准时长</th>
        <th>关键时间控制点</th>
        <th>制作环节时间控制</th>
        <th>操作</th>
    </thead>
</table>
{{#bp-layout direction='col' classNames='table-area p-2'}}
    <table class="table">
        <tbody class="table-body">
            <tr local-class="title m-2">
                <td onClick={{action "titleOnClick"}}>K2-M-1.3  妈妈的沥水架</td>
                <td>24/25分钟</td>
                <td>
                    {{time-line lineone=true}}
                </td>
                <td>35分钟</td>
                <td {{action 'option'}}>{{bp-icon icon='more'}}</td>
            </tr>
            <tr local-class="title m-2">
                <td>K2-L -2.2  邻里</td>
                <td>25/27分钟</td>
                <td>{{time-line linetwo=true}}</td>
                <td>37分钟</td>
                <td {{action 'option'}}>{{bp-icon icon='more'}}</td>
            </tr>
            <tr local-class="title m-2">
                <td>K1-M-4.1  小小养鸡场</td>
                <td>29/30分钟</td>
                <td>{{time-line linethree=true}}</td>
                <td>31分钟</td>
                <td {{action 'option'}}>{{bp-icon icon='more'}}</td>
            </tr>
        </tbody>
    </table>
{{/bp-layout}}

{{yield}}
