{{#bp-layout direction="col" classNames="ksf-diag-container"}}
    {{#bp-layout direction="row" main="between" classNames="top-btn-group-outer"}}
        <p></p>
        {{#bp-button-group
            value=switchValue 
            type="radio" 
            onChange=(action (mut switchValue)) as |bg|}}
            {{#bg.button type="default" value=0}}管理层{{/bg.button}}
            {{#bg.button type="default" value=1}}销售团队{{/bg.button}}
            {{#bg.button type="default" value=2}}教学团队{{/bg.button}}
            {{#bg.button type="default" value=3}}市场部门{{/bg.button}}
        {{/bp-button-group}}
        {{#bp-button type='primary'}}KSF设置{{/bp-button}}
    {{/bp-layout}}
    {{#if (eq switchValue 0)}}
        {{#bp-layout direction="row" classNames="main-content-outer"}}
            {{#bp-layout direction="col" classNames="member-list-area bg-white"}}
                {{#bp-layout direction="row" cross="center" classNames="member-list-title bg-white"}}
                    <p class="member-list-type">管理层名单</p>
                    <p class="member-count">{{memberList.length}}</p>
                {{/bp-layout}}
                {{#bp-layout direction="col" classNames="member-list-content bg-white"}}
                    {{#each memberList as |item|}}
                        {{#if (eq curSelectId item.id)}}
                            {{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item) active=true}}
                        {{else}}
                            {{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item)}}
                        {{/if}}
                    {{/each}}
                {{/bp-layout}}
            {{/bp-layout}}
            {{#bp-layout direction="col" classNames="ksf-detail-container"}}
                {{outlet}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{else if (eq switchValue 1)}}
        {{#bp-layout direction="row" classNames="main-content-outer"}}
            {{#bp-layout direction="col" classNames="member-list-area bg-white"}}
                {{#bp-layout direction="row" cross="center" classNames="member-list-title bg-white"}}
                    <p class="member-list-type">销售团队</p>
                    <p class="member-count">{{memberList.length}}</p>
                {{/bp-layout}}
                {{#bp-layout direction="col" classNames="member-list-content bg-white"}}
                    {{#each memberList as |item|}}
                        {{#if (eq curSelectId item.id)}}
                            {{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item) active=true}}
                        {{else}}
                            {{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item)}}
                        {{/if}}
                    {{/each}}
                {{/bp-layout}}
            {{/bp-layout}}
            {{#bp-layout direction="col" classNames="ksf-detail-container"}}
                销售团队页面
            {{/bp-layout}}
        {{/bp-layout}}
    {{else if (eq switchValue 2)}}
        {{#bp-layout direction="row" classNames="main-content-outer"}}
            {{#bp-layout direction="col" classNames="member-list-area bg-white"}}
                {{#bp-layout direction="row" cross="center" classNames="member-list-title bg-white"}}
                    <p class="member-list-type">教学团队</p>
                    <p class="member-count">{{memberList.length}}</p>
                {{/bp-layout}}
                {{#bp-layout direction="col" classNames="member-list-content bg-white"}}
                    {{#each memberList as |item|}}
                        {{#if (eq curSelectId item.id)}}
                            {{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item) active=true}}
                        {{else}}
                            {{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item)}}
                        {{/if}}
                    {{/each}}
                {{/bp-layout}}
            {{/bp-layout}}
            {{#bp-layout direction="col" classNames="ksf-detail-container"}}
                教学团队页面
            {{/bp-layout}}
        {{/bp-layout}}
    {{else if (eq switchValue 3)}}
        市场部门
        {{!-- {{#bp-layout direction="row" classNames="main-content-outer"}}
            {{#bp-layout direction="col" classNames="member-list-area bg-white"}}
                {{#bp-layout direction="row" cross="center" classNames="member-list-title bg-white"}}
                    <p class="member-list-type">市场部门</p>
                    <p class="member-count">{{memberList.length}}</p>
                {{/bp-layout}}
                {{#bp-layout direction="col" classNames="member-list-content bg-white"}}
                    {{#each memberList as |item|}}
                        {{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon}}
                    {{/each}}
                {{/bp-layout}}
            {{/bp-layout}}
            {{#bp-layout direction="col" classNames="ksf-detail-container"}}
                {{outlet}}
            {{/bp-layout}}
        {{/bp-layout}} --}}
    {{/if}}
{{/bp-layout}}