{{#bp-layout direction="col" classNames="ksf-diag-container"}}
	{{#bp-layout direction="row" main="between" classNames="top-btn-group-outer"}}
		<p></p>
		{{#bp-button-group
            value=switchValue
            type="radio"
            onChange=(action (mut switchValue)) as |bg|}}
			{{#bg.button type="default" value=0}}管理层{{/bg.button}}
			{{#bg.button type="default" value=1}}销售团队{{/bg.button}}
			{{#bg.button type="default" value=2}}教学团队{{/bg.button}}
			{{#bg.button type="default" value=3}}市场部门{{/bg.button}}
		{{/bp-button-group}}
		{{#bp-button type='primary' click=(action 'option')}}KSF设置{{/bp-button}}
	{{/bp-layout}}
	{{#if (eq switchValue 0)}}
		{{#bp-layout direction="row" classNames="main-content-outer"}}
			{{#bp-layout direction="col" classNames="member-list-area bg-white"}}
				{{#bp-layout direction="row" cross="center" classNames="member-list-title bg-white"}}
					<p class="member-list-type">管理层名单</p>
					<p class="member-count">{{thousand-split memberList.length}}</p>
				{{/bp-layout}}
				{{#bp-layout direction="col" classNames="member-list-content bg-white"}}
					{{#each memberList as |item|}}
						{{#if (eq curSelectId item.id)}}
							{{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item) active=true}}
						{{else}}
							{{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item)}}
						{{/if}}
					{{/each}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction="col" classNames="ksf-detail-container"}}
				{{outlet}}
			{{/bp-layout}}
		{{/bp-layout}}
	{{else if (eq switchValue 1)}}
		{{#bp-layout direction="row" classNames="main-content-outer"}}
			{{#bp-layout direction="col" classNames="member-list-area bg-white"}}
				{{#bp-layout direction="row" cross="center" classNames="member-list-title bg-white"}}
					<p class="member-list-type">销售团队</p>
					<p class="member-count">{{memberList.length}}</p>
				{{/bp-layout}}
				{{#bp-layout direction="col" classNames="member-list-content bg-white"}}
					{{#each memberList as |item|}}
						{{#if (eq curSelectId item.id)}}
							{{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item) active=true}}
						{{else}}
							{{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item)}}
						{{/if}}
					{{/each}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction="col" classNames="ksf-detail-container"}}
				{{#bp-layout tagName="h2" main="between" cross="center"
	classNames="px-4 mb-2 bg-white title"}}
					<p class="title">业务目标</p>
					<span class="subtitle">单位时间 月</span>
				{{/bp-layout}}
				{{#bp-layout direction='col' classNames="mb-4 p-4 bg-white"}}
					{{#bp-layout main="between" cross="center"
		classNames="business-target mb-4"}}
						{{#bp-layout main="center" classNames="gauge-container"}}
							{{bp-gauge value=88 maxValue=100}}
						{{/bp-layout}}
						{{#bp-layout classNames="p-4"}}
							{{#bp-layout direction="col"}}
								<p class="keys mb-4">个人销售指标</p>
								<p class="keys">个人销售总达成{{bp-icon icon="info" size="small"}}</p>
							{{/bp-layout}}
							{{#bp-layout direction="col"}}
								<p class="values mb-4 ml-4">¥ {{thousand-split 9000000}}</p>
								<p class="values ml-4">{{thousand-split 60}} <span class="unit">个</span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout main="between" classNames="business-infos"}}
						{{#bp-layout direction="col" main="between" classNames="border-right"}}
							<p class="keys mb-3">个人新增签单额</p>
							<p class="values">￥{{thousand-split 65000}}</p>
						{{/bp-layout}}
						{{#bp-layout direction="col" main="between"}}
							<p class="keys mb-3">个人续费额 {{bp-icon icon="info"}}</p>
							<p class="values">￥{{thousand-split 65000}}</p>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout tagName="h2" main="between" cross="center"
	classNames="px-4 mb-2 bg-white title"}}
					<p class="title">行为指标</p>
					<span class="subtitle">单位时间 -</span>
				{{/bp-layout}}
				{{#bp-layout direction="col" main="between"
	classNames="behavioral-indicator  mb-4 p-4 bg-white"}}
					{{#bp-layout main="between" classNames="titles mb-4"}}
						<h3 class="title"><span class="title">电话拜访</span></h3>
					{{/bp-layout}}
					{{#bp-layout main="between" classNames="contents"}}
						{{#bp-layout direction="col" classNames="content px-4 pb-4 border-right"}}
							<p class="keys mb-2">个人指标
							</p>
							<p class="values mb-4">{{thousand-split 1000}} <span class="unit">个</span></p>
							<p class="keys mb-2">个人达成
								{{bp-icon icon="info" size="small"}}</p>
							<p class="values">{{thousand-split 890}} <span class="unit">个</span></p>
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="customers p-4"}}
							{{#bp-layout direction="col" classNames="mr-3"}}
								<p class="keys mb-3">诺访客户数
									{{bp-icon icon="info" size="small"}}</p>
								<p class="keys mb-3">实到客户数
									{{bp-icon icon="info" size="small"}}</p>
								<p class="keys">有效通话时长
									{{bp-icon icon="info" size="small"}}</p>
							{{/bp-layout}}
							{{#bp-layout direction="col"}}
								<p class="values mb-3">{{thousand-split 899999}} <span class="unit">个</span></p>
								<p class="values mb-3">{{thousand-split 50000}} <span class="unit">个</span></p>
								<p class="values">{{thousand-split 300}}<span class="unit">s</span>/{{thousand-split 400}} <span class="unit">通</span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout tagName="h2" main="between" cross="center"
	classNames="px-4 mb-2 bg-white title"}}
					<p class="title">行政</p>
				{{/bp-layout}}
				{{#bp-layout main="between"
	classNames="administrative mb-4"}}
					{{#bp-layout direction="col"
		classNames="training mr-2 p-4 bg-white"}}
						{{#bp-layout tagName="h3" classNames="title"}}
							<span class="title">内训考核</span>
						{{/bp-layout}}
						{{#bp-layout classNames="pt-4"}}
							{{#bp-layout direction="col" classNames="keys"}}
								<p class="mb-3">指标次数{{bp-icon icon="info" size="small"}}</p>
								<p class="mb-3">完成次数{{bp-icon icon="info" size="small"}}</p>
							{{/bp-layout}}
							{{#bp-layout direction="col" classNames="ml-3"}}
								<p class="mb-3"><span class="unit">6</span><span class="values">次</span></p>
								<p class="mb-3"><span class="unit">8</span><span class="values">次</span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout direction="col" mian="between"
		classNames="leave p-4 bg-white"}}
						{{#bp-layout tagName="h3" classNames="title"}}
							<span class="title"></span>
						{{/bp-layout}}
						{{#bp-layout tagName="p" main="center" cross="center"}}
							<p>分数
								{{bp-icon icon="info" size="small"}}
								<span class="unit ml-4">80</span>
								<span class="values">分</span>
							</p>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction="col" classNames="bg-white"}}
					{{#bp-layout tagName="h2" main="between" cross="center"
	classNames="px-4 title"}}
						<p class="title">满意度</p>
					{{/bp-layout}}
					{{#bp-layout classNames="satisfaction"}}
						{{#bp-layout direction="col" main="between"
		classNames="p-4"}}
							<p class="keys mb-2 text-center">退费率</p>
							<p class="values text-center">20%</p>
						{{/bp-layout}}
						{{#bp-layout direction="col" main="between"
		classNames="p-4"}}
							<p class="keys mb-2 text-center">客诉率</p>
							<p class="values text-center">10%</p>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
	{{else if (eq switchValue 2)}}
		{{#bp-layout direction="row" classNames="main-content-outer"}}
			{{#bp-layout direction="col" classNames="member-list-area bg-white"}}
				{{#bp-layout direction="row" cross="center" classNames="member-list-title bg-white"}}
					<p class="member-list-type">教学团队</p>
					<p class="member-count">{{memberList.length}}</p>
				{{/bp-layout}}
				{{#bp-layout direction="col" classNames="member-list-content bg-white"}}
					{{#each memberList as |item|}}
						{{#if (eq curSelectId item.id)}}
							{{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item) active=true}}
						{{else}}
							{{member-list-item name=item.name sex=item.sex contact=item.contact jobCode=item.jobCode imgSrc=item.icon memberOnclick=(action "memberOnclick" item)}}
						{{/if}}
					{{/each}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction="col" classNames="ksf-detail-container"}}
				{{#bp-layout direction='col' classNames='edu-container'}}
				    {{#bp-layout direction='col' classNames='mb-2 bg-white'}}
				        {{#bp-layout direction='row' main='between' cross='center' classNames='title-area'}}
				            <p class="text-header-medium">业务目标</p>
				            <p class="text-p-small">单位时间 <span> 月</span></p>
				        {{/bp-layout}}
				        {{#bp-layout direction='row' main='between'}}
				            {{#each model.business as |ga|}}
				                {{#bp-layout direction='row' main='between' cross='center' classNames='eff-list p-4'}}
				                    {{#bp-layout direction='col' classNames='circle-desc'}}
				                        {{#bp-layout direction='row' cross='center'}}
				                            <p class="text-p-small mb-2">{{ga.name}}</p>
				                            <img src={{ga.icon}} alt="" class="icon-info">
				                        {{/bp-layout}}
				                        <p class="text-header-large">{{ga.rate}}%</p>
				                    {{/bp-layout}}

				                    {{bp-circle
				                        circleData=ga.circleData
				                        circleColor=ga.circleColor
				                        classNames='circle-area'
				                        }}
				                {{/bp-layout}}
				            {{/each}}
							{{#bp-layout direction='row' main='between' cross='center' classNames='eff-list p-4'}}
								{{#bp-layout direction='col' classNames='circle-desc'}}
									{{#bp-layout direction='row' cross='center'}}
										<p class="text-p-small mb-2">转介绍</p>
									{{/bp-layout}}
									<p class="text-header-large">50<span class="text-p-small">个</span></p>
								{{/bp-layout}}
							{{/bp-layout}}
				        {{/bp-layout}}
				    {{/bp-layout}}

				    {{#bp-layout direction='col'}}
				        {{#bp-layout direction='row' main='between'  cross='center' classNames='bg-white title-area mt-4 mb-2'}}
				            <p class="text-header-medium">行为指标</p>
							<p class="text-p-small">单位时间 <span> -</span></p>
				        {{/bp-layout}}
				        {{#bp-layout direction='row' classNames='mb-2'}}
				            {{#bp-layout direction='col' classNames='bg-white p-4 mr-2 admin'}}
				                <p class="text-header-small mb-4">教学</p>
								{{#bp-layout direction='row'}}
									{{#bp-layout direction='row' cross='center' classNames='mr-4'}}
										<p class="text-p-secondary mb-4 mr-1 text-width">课堂教学时长</p>
										<img src={{model.iconInfo}} alt="" class="icon-info mb-4">
									{{/bp-layout}}
									<p class="text-p-secondary mr-4"><span class="text-header-medium">6</span>分钟/次</p>
								{{/bp-layout}}
								{{#bp-layout direction='row'}}
									{{#bp-layout direction='row' cross='center' classNames='mr-4'}}
										<p class="text-p-secondary mb-4 mr-1 text-width">课后点评及时率</p>
										<img src={{model.iconInfo}} alt="" class="icon-info mb-4">
									{{/bp-layout}}
									<p class="text-p-secondary mr-4"><span class="text-header-medium">90%</span></p>
								{{/bp-layout}}
								{{#bp-layout direction='row'}}
									{{#bp-layout direction='row' cross='center' classNames='mr-4'}}
										<p class="text-p-secondary mb-4 mr-1 text-width">教具使用规范</p>
										<img src={{model.iconInfo}} alt="" class="icon-info mb-4">
									{{/bp-layout}}
									<p class="text-p-secondary mr-4"><span class="text-header-medium">4</span>次</p>
								{{/bp-layout}}
				            {{/bp-layout}}
							{{#bp-layout direction='col' classNames='bg-white p-4 admin'}}
							   <p class="text-header-small mb-4">贡献</p>
							   {{#bp-layout direction='row'}}
								   {{#bp-layout direction='row' cross='center' classNames='mr-4'}}
									   <p class="text-p-secondary mb-4 mr-1 text-width">课件使用与优化</p>
									   <img src={{model.iconInfo}} alt="" class="icon-info mb-4">
								   {{/bp-layout}}
								   <p class="text-p-secondary mr-4"><span class="text-header-medium">100%</span></p>
							   {{/bp-layout}}
							   {{#bp-layout direction='row'}}
								   {{#bp-layout direction='row' cross='center' classNames='mr-4'}}
									   <p class="text-p-secondary mb-4 mr-1 text-width">教研辅助支持</p>
								   {{/bp-layout}}
								   <p class="text-p-secondary mr-4 ml-3"><span class="text-header-medium">8</span>次</p>
							   {{/bp-layout}}
						   {{/bp-layout}}
				        {{/bp-layout}}

						{{#bp-layout direction='col' classNames='bg-white p-4 mb-2'}}
				            <p class="text-header-small mb-4">最近课件播放停顿点</p>

							{{table-stall-point option=(action 'option')}}
				        {{/bp-layout}}

						{{#bp-layout direction='col' classNames='bg-white p-4 mb-4'}}
				            <p class="text-header-small mb-4">报表提交</p>
				            {{#bp-layout direction='row'}}
				                {{#bp-layout direction='col' classNames='reports'}}
				                    {{#bp-layout direction='row'}}
				                        <p class="text-p-primary mb-3 mr-4">报表数量</p>
				                        <p class="text-p-secondary">40份</p>
				                    {{/bp-layout}}
									{{#bp-layout direction='row'}}
				                        <p class="text-p-primary mb-3 mr-4">提交次数</p>
				                        <p class="text-p-secondary">40次</p>
				                    {{/bp-layout}}
				                {{/bp-layout}}
				                {{#bp-layout direction='col' classNames='reports'}}
				                    {{#bp-layout direction='row'}}
				                        {{#bp-layout direction='row' cross='center' classNames='mr-4'}}
				                            <p class="text-p-primary mb-3 mr-1 pl-4">提交及时率</p>
				                            <img src={{model.iconInfo}} alt="" class="icon-info mb-3">
				                        {{/bp-layout}}
				                        <p class="text-p-secondary mr-4">80%</p>
				                    {{/bp-layout}}
				                    {{#bp-layout direction='row'}}
				                        {{#bp-layout direction='row' cross='center' classNames='mr-4'}}
				                            <p class="text-p-primary mb-3 mr-1 pl-4">提交准确率</p>
				                            <img src={{model.iconInfo}} alt="" class="icon-info mb-3">
				                        {{/bp-layout}}
				                        <p class="text-p-secondary mr-4">90%</p>
				                    {{/bp-layout}}
				                {{/bp-layout}}
				            {{/bp-layout}}
				        {{/bp-layout}}

					{{/bp-layout}}

				    {{#bp-layout direction='col' classNames='bg-white mb-4 pb-3'}}
				        {{#bp-layout direction='row' classNames='bg-white title-area mt-3 mb-2'}}
				            <p class="text-header-medium">满意度</p>
				        {{/bp-layout}}
				        {{#bp-layout direction='row'}}
				            {{#bp-layout direction='col' cross='center' classNames='satisfaction pl-4'}}
				                <p class="text-p-small mb-2">退费率</p>
				                <p class="text-header-small">20%</p>
				            {{/bp-layout}}
				            {{#bp-layout direction='col' cross='center' classNames='satisfaction'}}
				                <p class="text-p-small mb-2 pl-4">客诉率</p>
				                <p class="text-header-small pl-4">20%</p>
				            {{/bp-layout}}
				        {{/bp-layout}}
				    {{/bp-layout}}

				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
	{{else if (eq switchValue 3)}}
		{{#bp-layout direction="col" classNames="main-content-outer market-department"}}
            {{#bp-layout direction="col" classNames="business-target mb-4"}}
				{{#bp-layout tagName="h2" main="between" cross="center" classNames="px-4 mb-2 bg-white title"}}
					<p class="title">业务目标</p>
					<span class="subtitle">单位时间 月</span>
				{{/bp-layout}}
				{{#bp-layout main="between" classNames="target-content"}}
					{{#bp-layout direction="col" classNames="content-item bg-white p-4 mr-2"}}
						{{#bp-layout classNames="item-title mb-4"}}
							<p class="subtitle">客户名单</p>
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">指标</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">{{thousand-split 3000}}<span class="unit">个</span></p>
							{{/bp-layout}}
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">达成{{bp-icon icon="info" size="small"}}</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">{{thousand-split 2000}}<span class="unit"></span></p>
							{{/bp-layout}}
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">名单有效性</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">60%<span class="unit"></span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout direction="col" classNames="content-item bg-white p-4 mr-2"}}
						{{#bp-layout classNames="item-title mb-4"}}
							<p class="subtitle">拉访到店</p>
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">指标</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">{{thousand-split 3000}}<span class="unit"></span></p>
							{{/bp-layout}}
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">达成{{bp-icon icon="info" size="small"}}</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">{{thousand-split 2000}}<span class="unit"></span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout direction="col" classNames="content-item bg-white p-4 mr-2"}}
						{{#bp-layout classNames="item-title mb-4"}}
							<p class="subtitle">转化率</p>
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">指标</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">20%<span class="unit"></span></p>
							{{/bp-layout}}
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">达成率{{bp-icon icon="info" size="small"}}</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">10%<span class="unit"></span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
            {{/bp-layout}}
            {{#bp-layout direction="col" classNames="act-target mb-4"}}
				{{#bp-layout tagName="h2" main="between" cross="center" classNames="px-4 mb-2 bg-white title"}}
					<p class="title">行为指标</p>
					<span class="subtitle">单位时间 -</span>
				{{/bp-layout}}
				{{#bp-layout main="between" classNames="target-content mb-2"}}
					{{#bp-layout direction="col" classNames="content-item bg-white p-4 mr-2"}}
						{{#bp-layout classNames="item-title mb-4"}}
							<p class="subtitle">校区日常活动</p>
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">指标</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">6<span class="unit">次</span></p>
							{{/bp-layout}}
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">达成{{bp-icon icon="info" size="small"}}</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">6<span class="unit">次</span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout direction="col" classNames="content-item bg-white p-4 mr-2"}}
						{{#bp-layout classNames="item-title mb-4"}}
							<p class="subtitle">节日大型活动安排</p>
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">指标率</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">80%<span class="unit">个</span></p>
							{{/bp-layout}}
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">达成率{{bp-icon icon="info" size="small"}}</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">80%<span class="unit"></span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout main="between" classNames="target-content"}}
					{{#bp-layout direction="col" classNames="content-item bg-white p-4"}}
						{{#bp-layout classNames="item-title mb-4"}}
							<p class="subtitle">市场行为有效性</p>
						{{/bp-layout}}
						{{#bp-layout classNames="item-subtitle mb-4"}}
							<p class="subtitle">市场数据</p>
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label long"}}
								<p class="subtitle">客户名单数量</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">{{thousand-split 100}}<span class="unit">条</span></p>
							{{/bp-layout}}
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label long"}}
								<p class="subtitle">客户名单准确性</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">80%<span class="unit"></span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout direction="col" classNames="content-item bg-white p-4"}}
						{{#bp-layout classNames="item-title mb-4"}}
							<p class="subtitle"> </p>
						{{/bp-layout}}
						{{#bp-layout classNames="item-subtitle mb-4"}}
							<p class="subtitle">成本控制</p>
						{{/bp-layout}}
						{{#bp-layout cross="center" classNames="item-content"}}
							{{#bp-layout classNames="content-label"}}
								<p class="subtitle">总投入{{bp-icon icon="info" size="small"}}</p>
							{{/bp-layout}}
							{{#bp-layout classNames="content-value"}}
								<p class="value">¥{{thousand-split 8000}}<span class="unit"></span></p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
            {{/bp-layout}}
			{{#bp-layout direction="col" classNames="bg-white"}}
					{{#bp-layout tagName="h2" main="between" cross="center" classNames="px-4 title"}}
						<p class="title">满意度</p>
					{{/bp-layout}}
					{{#bp-layout classNames="satisfaction"}}
						{{#bp-layout direction="col" main="between" classNames="p-4"}}
							<p class="keys mb-2">客诉率</p>
							<p class="values">10%</p>
						{{/bp-layout}}
						{{#bp-layout direction="col" main="between"	classNames="p-4"}}
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
        {{/bp-layout}}
	{{/if}}
{{/bp-layout}}
