{{#bp-layout tagName="h2" main="between" cross="center"
	classNames="px-4 mb-2 bg-white title"}}
	<p class="title">业务目标</p>
	<span class="subtitle">单位时间 月</span>
{{/bp-layout}}
{{#bp-layout direction='col' classNames="mb-4 p-4 bg-white"}}
	{{#bp-layout main="between" cross="center" 
		classNames="business-target mb-4"}}
		{{#bp-layout main="center" classNames="gauge-container"}}
			{{bp-gauge value=65 maxValue=100}}
		{{/bp-layout}}
		{{#bp-layout classNames="p-4"}}
			{{#bp-layout direction="col"}}
				<p class="keys mb-4">团队销售总指标</p>
				<p class="keys">团队销售总达成{{bp-icon icon="info" size="small"}}</p>
			{{/bp-layout}}
			{{#bp-layout direction="col"}}
				<p class="values mb-4 ml-4">¥ 90,000,000</p>
				<p class="values ml-4">¥ 60,000,000</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout main="between" classNames="business-infos"}}
		{{#bp-layout direction="col" main="between" classNames="border-right"}}
			<p class="keys mb-3">团队人均达成</p>
			<p class="values">￥45017</p>
		{{/bp-layout}}
		{{#bp-layout direction="col" main="between" classNames="border-right"}}
			<p class="keys  mb-3">团队人均新增签单额</p>
			<p class="values">￥45017</p>
		{{/bp-layout}}
		{{#bp-layout direction="col" main="between"}}
			<p class="keys mb-3">团队人均续费额</p>
			<p class="values">￥45017</p>
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{#bp-layout tagName="h2" main="between" cross="center"
	classNames="px-4 mb-2 bg-white title"}}
	<p class="title">行为指标</p>
	<span class="subtitle">单位时间 -</span>
{{/bp-layout}}
{{#bp-layout direction="col" main="between" 
	classNames="behavioral-indicator  mb-4 p-4 bg-white"}}
	{{#bp-layout main="between" classNames="titles mb-4"}}
		<h3 class="title"><span class="title">电话拜访</span></h3>
		<h3 class="title pl-4"><span class="title">团队达成</span></h3>
	{{/bp-layout}}
	{{#bp-layout main="between" classNames="contents"}}
		{{#bp-layout direction="col" classNames="content px-4 pb-4 border-right"}}
			<p class="keys mb-2">团队总指标{{bp-icon icon="info"}}</p>
			<p class="values mb-4">1999999 <span class="unti">个</span></p>
			<p class="keys mb-2">团队人均指标{{bp-icon icon="inof"}}</p>
			<p class="values">19989999 <span class="unti">个</span></p>
		{{/bp-layout}}
		{{#bp-layout cross="center" classNames="customers p-4"}}
			{{#bp-layout direction="col" classNames="mr-3"}}
				<p class="keys mb-3">诺访客户数</p>
				<p class="keys">实到客户数</p>
			{{/bp-layout}}
			{{#bp-layout direction="col"}}
				<p class="values mb-3">899,999 <span class="unit">个</span></p>
				<p class="values">899,999 <span class="unit">个</span></p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{#bp-layout tagName="h2" main="between" cross="center"
	classNames="px-4 mb-2 bg-white title"}}
	<p class="title">行政</p>
{{/bp-layout}}
{{#bp-layout main="between"
	classNames="administrative mb-4"}}
	{{#bp-layout direction="col" 
		classNames="training mr-2 p-4 bg-white"}}
		{{#bp-layout tagName="h3" classNames="title"}}
			<span class="title">团队内训考核</span>
		{{/bp-layout}}
		{{#bp-layout classNames="pt-4"}}
			{{#bp-layout direction="col" classNames="keys"}}
				<p class="mb-3">指标次数{{bp-icon icon="info" size="small"}}</p>
				<p class="mb-3">完成次数{{bp-icon icon="info" size="small"}}</p>
				<p class="mb-3">人均分数{{bp-icon icon="info" size="small"}}</p>
			{{/bp-layout}}
			{{#bp-layout direction="col" classNames="values ml-3"}}
				<p class="mb-3 ">6次</p>
				<p class="mb-3 ">8次</p>
				<p class="mb-3 ">2次</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction="col" mian="between" 
		classNames="leave p-4 bg-white"}}
		{{#bp-layout tagName="h3" classNames="title"}}
			<span class="title">团队离职率</span>
		{{/bp-layout}}
		{{#bp-layout tagName="p" main="center" cross="center"}}
			20%
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{#bp-layout direction="col" classNames="bg-white"}}
	{{#bp-layout tagName="h2" main="between" cross="center"
	classNames="px-4 title"}}
		<p class="title">满意度</p>
	{{/bp-layout}}
	{{#bp-layout classNames="satisfaction"}}
		{{#bp-layout direction="col" main="between"
		classNames="p-4"}}
			<p class="keys mb-2 text-center">退费率</p>
			<p class="values text-center">20%</p>
		{{/bp-layout}}
		{{#bp-layout direction="col" main="between"
		classNames="p-4"}}
			<p class="keys mb-2 text-center">退费率</p>
			<p class="values text-center">20%</p>
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}