{{#bp-layout tagName="h2" main="between" cross="center"
	classNames="title bg-white px-4"}}
	<p class="title">分销情况</p>
	{{#bp-dropdown widthSize="auto"   as |dd|}}
		{{#dd.button}}
			{{#if tmpCycle.value}}
				<p>{{tmpCycle.name}}</p>
			{{else}}
				请选择
			{{/if}}
			{{bp-icon icon='down'}}
		{{/dd.button}}
		{{#dd.menu as |menu|}}
			{{#each cycles as |cycle|}}
				{{#menu.option value=cycle onClick=(action (mut tmpCycle))}}
					{{cycle.name}}
				{{/menu.option}}
			{{/each}}
		{{/dd.menu}}
	{{/bp-dropdown}}
{{/bp-layout}}
{{#if (bp-eq tmpCycle.value 2)}}
	{{#bp-layout main="between" wrap=true classNames="cycle mb-5"}}
		{{#each model.cycleMonth as |cycle|}}
			{{#bp-layout direction="col"  main="between"
				classNames="line-container mr-2 mb-2 p-4 bg-white"}}
				<p class="title">{{cycle.title}}</p>
				{{bp-line
					lineData=cycle.line.lineData
					lineColor=model.lineColor
					legendPosition=model.legendPosition}}
			{{/bp-layout}}
		{{/each}}
	{{/bp-layout}}
{{else}}
	{{#bp-layout main="between" classNames="cycle mb-5"}}
		{{#each model.cycleWeek as |cycle|}}
			{{#bp-layout direction="col"  main="between"  classNames="circle-contaienr mr-2 p-4 bg-white"}}
				<p class="title">{{cycle.title}}</p>
				{{bp-circle circleData=cycle.circle.data
			circleColor=cycle.circle.color
				widthSize="auto"}}
				<p class="desc text-center">
					<span class="mr-2">总销售额</span>
					<span>¥{{thousand-split cycle.sales}}</span>
				</p>
			{{/bp-layout}}
		{{/each}}
	{{/bp-layout}}
{{/if}}
{{#bp-tabs selection=saleContent as |tabs|}}
	{{#tabs.tablist as |list|}}
		<li class="nav-item">
			{{#list.tab
				selectPaneId='content'
				onSelect=(action (mut saleContent))}}分销内容{{/list.tab}}
		</li>
		<li class="nav-item">
			{{#list.tab
				selectPaneId='channel'
				onSelect=(action (mut saleContent))}}分销渠道
			{{/list.tab}}
		</li>
	{{/tabs.tablist}}
	<div class="tab-content">
		{{#tabs.pane elementId="content"}}
			{{#bp-layout main="between" classNames="mt-3 mb-4"}}
				{{bp-input}}
				<p>
					{{#bp-button click=(action "xxOnClick")}}导入内容{{/bp-button}}
					{{#bp-button click=(action "xxOnClick")}}新建内容{{/bp-button}}
				</p>
			{{/bp-layout}}
			<table class="table distribution-table">
				<thead>
					<th>商品名称</th>
					<th>类型</th>
					<th>商品售价</th>
					<th>渠道最低价</th>
					<th>渠道销量</th>
					<th>渠道分成总金额</th>
					<th>总收益</th>
					<th>操作</th>
				</thead>
				<tbody class="bg-white">
					{{#each model.distributionContents as |dc|}}
						<tr>
							<td>{{dc.name}}</td>
							<td>{{dc.type}}</td>
							<td>￥{{thousand-split dc.price}}</td>
							<td>￥{{thousand-split dc.lowestPrice}}</td>
							<td>{{thousand-split dc.salesVolume}}</td>
							<td>￥{{thousand-split dc.divided}}</td>
							<td>￥{{thousand-split dc.income}}</td>
							<td><span onClick={{action "xxOnClick"}}>{{bp-icon icon="more"}}</span></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/tabs.pane}}
		{{#tabs.pane elementId="channel"}}
			{{#bp-layout main="between" classNames="mt-3 mb-4"}}
				{{bp-input}}
				{{#bp-button click=(action "xxOnClick")}}新增渠道{{/bp-button}}
			{{/bp-layout}}
			<table class="table distribution-table">
				<thead>
					<th>渠道类目</th>
					<th>渠道名称</th>
					<th>渠道等级</th>
					<th>采购内容总数</th>
					<th>分销订单总数 </th>
					<th>分销订单总金额</th>
					<th>累计收益</th>
					<th>操作</th>
				</thead>
				<tbody class="bg-white">
					{{#each model.distributionChannels as |dc|}}
						<tr>
							<td>{{dc.name}}</td>
							<td>{{dc.type}}</td>
							<td>{{dc.level}}</td>
							<td>{{thousand-split dc.purchase}}</td>
							<td>{{thousand-split dc.order}}</td>
							<td>￥{{thousand-split dc.money}}</td>
							<td>￥{{thousand-split dc.income}}</td>
							<td><span onClick={{action "xxOnClick"}}>{{bp-icon icon="more"}}</span></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/tabs.pane}}
	</div>
{{/bp-tabs}}
