{{#bp-layout direction="col" classNames="normal-page-container dashboard-container"}}
    
    {{#bp-layout direction="row" classNames="section-outer"}}
        {{#bp-page-header classNames="dashboard-header" as |ph|}}
			{{#ph.body as |body|}}
				{{#body.left as |left|}}
					{{#left.item}}
						品牌名称
					{{/left.item}}
				{{/body.left}}
				{{#body.right}}
					{{bp-dropdown-simple
                        choosedValue=cur_market
                        options=marketArr
                        optionKey='name'}}
				{{/body.right}}
			{{/ph.body}}
		{{/bp-page-header}}
    {{/bp-layout}}
    {{#bp-layout direction="row" classNames="section-outer"}}
        {{#bp-layout direction="row" classNames="income-overview-section"}}
            {{#bp-layout direction="col" main="between" cross="center" classNames="income-overview-section-left bg-white"}}
                <p class="dashboard-label">总收入</p>
                <p class="total-income">￥{{thousand-split 89920000}}</p>
            {{/bp-layout}}
            {{#bp-layout direction="row" classNames="income-overview-section-right bg-white"}}
                {{#bp-layout direction="col" main="center" classNames="income-right-item"}}
                    <p class="dashboard-label">签单课时</p>
                    <p class="dashboard-content"><span class="signed-hours">{{thousand-split 604246}}</span>小时</p>
                {{/bp-layout}}
                {{#bp-layout direction="col" main="center" classNames="income-right-item"}}
                    <p class="dashboard-label">总消课时</p>
                    <p class="dashboard-content"><span class="cost-hours">{{thousand-split 468423}}</span>小时</p>
                {{/bp-layout}}
                {{#bp-layout direction="col" main="center" classNames="income-right-item"}}
                    <p class="dashboard-label">其他收益</p>
                    <p class="other-income">¥{{thousand-split 4548880}}</p>
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction="row" classNames="section-outer"}}
        {{#bp-layout direction="row" classNames="status-overview-section"}}
            {{#bp-layout direction="col" classNames="status-overview-section-left bg-white"}}
                {{#bp-layout direction="row" classNames="status-overview-section-top"}}
                    {{#bp-layout direction="col" cross="center" classNames="top-container"}}
                        {{#bp-layout direction="row" classNames="top-up"}}
                            <p class="dashboard-label">在校学生</p>
                        {{/bp-layout}}
                        {{#bp-layout direction="row" classNames="top-down"}}
                            <p class="dashboard-content"><span class="big-num">{{thousand-split 3927}}</span>人</p>
                        {{/bp-layout}}
                    {{/bp-layout}}
                    {{#bp-layout direction="col" cross="center" classNames="top-container"}}
                        {{#bp-layout direction="row" classNames="top-up"}}
                            <p class="dashboard-label">总服务学生</p>
                        {{/bp-layout}}
                        {{#bp-layout direction="row" classNames="top-down"}}
                            <p class="dashboard-content"><span class="big-num">{{thousand-split 5705}}</span>人</p>
                        {{/bp-layout}}
                    {{/bp-layout}}
                {{/bp-layout}}
                {{#bp-layout direction="col" classNames="status-overview-section-bottom"}}
                    {{#bp-layout direction="row" main="between" classNames="bottom-up"}}
                        <p class="dashboard-content">在校学生/总服务学生</p>
                        <p class="dashboard-content">{{thousand-split 3927}}/{{thousand-split 5705}}</p>
                    {{/bp-layout}}
                    {{#bp-layout direction="row" classNames="bottom-down"}}
                        {{#bp-progress as |p|}}
                            {{p.bar value=3000 minValue=0 maxValue=13000}}
                        {{/bp-progress}}
                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}}
            {{#bp-layout direction="col" classNames="status-overview-section-right bg-white"}}
                {{#bp-layout direction="row" classNames="status-overview-section-top"}}
                    {{#bp-layout direction="col" cross="center" classNames="top-container"}}
                        {{#bp-layout direction="row" classNames="top-up"}}
                            <p class="dashboard-label">总满班数</p>
                        {{/bp-layout}}
                        {{#bp-layout direction="row" classNames="top-down"}}
                            <p class="dashboard-content"><span class="big-num">{{thousand-split 213}}</span>班</p>
                        {{/bp-layout}}
                    {{/bp-layout}}
                    {{#bp-layout direction="col" cross="center" classNames="top-container"}}
                        {{#bp-layout direction="row" classNames="top-up"}}
                            <p class="dashboard-label">总开班数</p>
                        {{/bp-layout}}
                        {{#bp-layout direction="row" classNames="top-down"}}
                            <p class="dashboard-content"><span class="big-num">{{thousand-split 512}}</span>班</p>
                        {{/bp-layout}}
                    {{/bp-layout}}
                {{/bp-layout}}
                {{#bp-layout direction="col" classNames="status-overview-section-bottom"}}
                    {{#bp-layout direction="row" main="between" classNames="bottom-up"}}
                        <p class="dashboard-content">总满班数/总开班数</p>
                        <p class="dashboard-content">{{thousand-split 213}}/{{thousand-split 512}}</p>
                    {{/bp-layout}}
                    {{#bp-layout direction="row" classNames="bottom-down"}}
                        {{#bp-progress as |p|}}
                            {{p.bar value=213 minValue=0 maxValue=567}}
                        {{/bp-progress}}
                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction="row" classNames="section-outer"}}
        {{#bp-layout direction="row" classNames="yard-overview-section"}}
            {{#bp-layout direction="col" classNames="yard-overview-section-left bg-white"}}
                {{#bp-layout direction="row" main="between" classNames="yard-overview-section-title"}}
                    {{#bp-layout direction="row" cross="center" classNames="title-inner"}}
                        <p class="dashboard-label">总校区数</p>
                        <p class="dashboard-mid-title">18</p>
                    {{/bp-layout}}
                    {{#bp-layout direction="row" cross="center" classNames="title-inner"}}
                        <p class="dashboard-label">直营校区数</p>
                        <p class="dashboard-mid-title">3</p>
                    {{/bp-layout}}
                    {{#bp-layout direction="row" cross="center" classNames="title-inner"}}
                        <p class="dashboard-label">加盟校区数</p>
                        <p class="dashboard-mid-title">15</p>
                    {{/bp-layout}}
                {{/bp-layout}}
                {{#bp-layout direction="col" classNames="yard-overview-list"}}
                    {{#bp-layout direction="row" main="between" cross="center" classNames="yard-overview-section-content" click=(action "yardOnClick" "1")}}
                        {{#bp-layout direction="row" main="between" cross="center" classNames="content-inner"}}
                            {{#bp-layout direction="row" classNames="content-inner-left"}}
                                <p class="list-tag">TOP 1</p>
                                <p class="dashboard-header-small">五道口校区</p>
                                <p class="dashboard-pri">总收入 ¥{{thousand-split 8245000}}</p>
                            {{/bp-layout}}
                            {{#bp-layout direction="row" main="end" classNames="content-inner-right"}}
                                <p class="dashboard-label">李松校长</p>
                                <img class="head-img" src="/images/avatar_female_00@1x.jpg"/>
                            {{/bp-layout}}
                        {{/bp-layout}}
                    {{/bp-layout}}
                    {{#bp-layout direction="row" main="between" cross="center" classNames="yard-overview-section-content" click=(action "yardOnClick" 2)}}
                        {{#bp-layout direction="row" main="between" cross="center" classNames="content-inner"}}
                            {{#bp-layout direction="row" classNames="content-inner-left"}}
                                <p class="list-tag">TOP 2</p>
                                <p class="dashboard-header-small">三里屯校区</p>
                                <p class="dashboard-pri">总收入 ¥{{thousand-split 6432800}}</p>
                            {{/bp-layout}}
                            {{#bp-layout direction="row" main="end" classNames="content-inner-right"}}
                                <p class="dashboard-label">王达校长</p>
                                <img class="head-img" src="/images/avatar_male_00@1x.jpg"/>
                            {{/bp-layout}}
                        {{/bp-layout}}
                    {{/bp-layout}}
                    {{#bp-layout direction="row" main="between" cross="center" classNames="yard-overview-section-content" click=(action "yardOnClick" 3)}}
                        {{#bp-layout direction="row" main="between" cross="center" classNames="content-inner"}}
                            {{#bp-layout direction="row" classNames="content-inner-left"}}
                                <p class="list-tag">TOP 3</p>
                                <p class="dashboard-header-small">中关村校区</p>
                                <p class="dashboard-pri">总收入 ¥{{thousand-split 6019000}}</p>
                            {{/bp-layout}}
                            {{#bp-layout direction="row" main="end" classNames="content-inner-right"}}
                                <p class="dashboard-label">蔓丽校长</p>
                                <img class="head-img" src="/images/avatar_male_01@1x.jpg"/>
                            {{/bp-layout}}
                        {{/bp-layout}}
                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}}
            {{#bp-layout direction="col" classNames="yard-overview-section-right bg-white"}}
                {{#bp-layout direction="col" classNames="yard-overview-list"}}
                    {{#each list as |item|}}
                        {{#bp-layout direction="row" main="between" cross="center" classNames="yard-overview-section-content" click=(action "yardOnClick" item.id)}}
                            {{#bp-layout direction="row" main="between" cross="center" classNames="content-inner"}}
                                {{#bp-layout direction="row" classNames="content-inner-left"}}
                                    <p class="list-tag">NO.{{item.num}}</p>
                                    <p class="dashboard-header-small">{{item.name}}</p>
                                {{/bp-layout}}
                                {{#bp-layout direction="row" main="end" classNames="content-inner-right"}}
                                    <p class="dashboard-label">{{item.master}}校长</p>
                                {{/bp-layout}}
                            {{/bp-layout}}
                        {{/bp-layout}}
                    {{/each}}
                {{/bp-layout}}
                {{#bp-layout direction="row" main="end" classNames="yard-overview-pagi"}}
                    {{bp-pagination/mini
                        curPage=curPage
                        totalPageCounts=5 
                        onClickPage=(action (mut curPage))}}
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
{{/bp-layout}}
{{outlet}}